# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Datasets
datasets/

# Trained models
results/
*.pth
*.pt
*.ckpt

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db